@inject NavigationManager Nav

<div class="topbar">
    <a class="brand" href="">♿ Карта доступности</a>
    <nav class="nav-links">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Карта</NavLink>
        <NavLink class="nav-link" href="places">Список</NavLink>
    </nav>
</div>
