@inject NavigationManager Nav

<div class="topbar">
    <a class="brand" href="">♿ Карта доступности</a>
    <nav class="nav-links">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Карта</NavLink>
        <NavLink class="nav-link" href="places">Список</NavLink>
        <a class="nav-link" href="https://github.com/pyankov5525-oss/AccessibilityMap" target="_blank" rel="noopener">GitHub</a>
    </nav>
</div>
